<div class="bg-white w-full h-95 mt-5 ml-5 border-1 border-gray-200 rounded-lg">
    <div>
        <div class="bg-primary w-25 h-6 absolute rounded-lg flex items-center justify-center ">
            <p class="text-xs text-white">{{days}} dias /</p>
            <p class="text-xs text-white">&nbsp;{{nights}} noites</p>
        </div>
        <img src="{{photoCover}}" alt="package cover" class="rounded-lg h-50 w-full object-cover">
    </div>

    <h1 class="text-xl font-bold ml-3 mt-3 ">{{title}}</h1>
    <p class="ml-3 mt-3 text-sm">a partir de</p>
    <div class="flex items-center">
        <h3 class="ml-3 mt-1 text-3xl font-bold">R${{price}}</h3>
        <p class="text-sm ml-2 mt-3">por pessoa</p>
    </div>
    <div class="flex items-center justify-center mt-4">
        <button class="w-68 bg-primary pb-1 pt-1 h-10 rounded-lg text-white hover:bg-orange-600">Ver Pacote</button>
    </div>
</div>