<footer class="bottom-0 w-full text-white py-3 bg-primary-light">

        <div class="flex items-start items-center px-6 gap-0">
            <!-- logo -->
            <div class="flex-shrink-0 pl-8 pr-9">
                <a href="/home"><img src="logo_footer.png" class="mb-3 mt-3 mr-30 ml-20" alt="DecolaTrips Logo"
                        style="width: 90px; height: auto;"></a>

            </div>

            <!-- coluna 1 -->
            <div class="flex-1">
                <h2 class="text-sm font-bold text-black pl-1 pr-1 pb-1 pt-1">Somos DecolaTrips</h2>
                <ul>
                    <li><a href="/faqs"
                            class="text-xs text-black hover:underline pl-1 pr-1 rounded-md pb-1 pt-1">FAQs</a>
                    </li>
                    <li><a href="/sobrenos"
                            class="text-xs text-black hover:underline pl-1 pr-1 rounded-md pb-1 pt-1">Sobre
                            nós</a>
                    </li>
                </ul>
            </div>
            <!-- coluna 2 -->
            <div class="flex-1">
                <h2 class="text-sm font-bold text-black pl-1 pr-1 pb-1 pt-1">Minha Conta</h2>
                <ul>
                    <li><a href="#" class="text-xs text-black hover:underline pl-1 pr-1 rounded-md pb-1 pt-1">Meu
                            perfil</a>
                    </li>
                    <li><a href="#" class="text-xs text-black hover:underline pl-1 pr-1 rounded-md pb-1 pt-1">Minhas
                            viagens</a></li>
                    <li><a href="#" class="text-xs text-black hover:underline pl-1 pr-1 rounded-md pb-1 pt-1">Meus
                            cupons</a></li>
                </ul>
            </div>

            <!-- coluna 4 -->
            <div class="flex-1">
                <h2 class="text-sm font-bold text-black pl-1 pr-1 pb-1 pt-1">Compra Segura</h2>
                <ul>
                    <li><a href="/terms"
                            class="text-xs text-black hover:underline pl-1 pr-1 rounded-md pb-1 pt-1">Termos e
                            condições</a></li>
                    <li><a href="/fraud-prevention"
                            class="text-xs text-black hover:underline pl-1 pr-1 rounded-md pb-1 pt-1">Prevenção a
                            fraudes</a></li>
                    <li><a href="/privacy-policy"
                            class="text-xs text-black hover:underline pl-1 pr-1 rounded-md pb-1 pt-1">Política de
                            privacidade</a></li>
                </ul>
            </div>
    </div>
    <div class="flex items-center justify-center mt-5">
        <p class="text-black text-xs">© DecolaTrips. Todos os direitos reservados.</p>
    </div>
</footer>
