<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <!-- email -->
      <div>
        <app-form-input
          inputId="email"
          type="email"
          placeholder="Digite seu email"
          [formControlName]="'email'"
          [hasError]="isFieldInvalid('email')"
          [errorMessages]="getFieldErrors('email')">
        </app-form-input>
      </div>

      <!-- instrução -->
      <p class="text-sm text-gray-600 text-center">
        Digite seu email para receber um link de recuperação de senha.
      </p>

      <!-- botão de envio -->
      <app-form-button
        text="Enviar link de recuperação"
        loadingText="Enviando..."
        [isLoading]="isLoading">
      </app-form-button>
    </form>
