<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <div class="space-y-6">
    <div>
      <label for="password" class="block text-sm font-medium text-gray-700 mb-2">Nova Senha</label>
      <app-form-input
        inputId="password"
        type="password"
        placeholder="Digite sua nova senha"
        formControlName="password"
        [hasError]="isFieldInvalid('password')"
        [errorMessages]="getFieldErrors('password')">
      </app-form-input>
    </div>

    <div>
      <label for="confirmPassword" class="block text-sm font-medium text-gray-700 mb-2">Confirmar Senha</label>
      <app-form-input
        inputId="confirmPassword"
        type="password"
        placeholder="Confirme sua nova senha"
        formControlName="confirmPassword"
        [hasError]="isFieldInvalid('confirmPassword') || isPasswordMismatch()"
        [errorMessages]="isPasswordMismatch() ? [getPasswordMismatchError()] : getFieldErrors('confirmPassword')">
      </app-form-input>
    </div>

    <div class="bg-blue-50 border-l-4 border-blue-500 p-3 rounded my-4">
      <p class="mb-2 text-sm font-medium text-gray-700">A senha deve conter:</p>
      <ul class="mt-2 pl-5 space-y-1">
        <li class="mb-1 text-sm text-gray-600">Pelo menos 8 caracteres</li>
        <li class="mb-1 text-sm text-gray-600">Uma letra maiúscula e uma minúscula</li>
        <li class="mb-1 text-sm text-gray-600">Pelo menos um número</li>
      </ul>
    </div>

    <app-form-button
      text="Redefinir Senha"
      [isLoading]="isLoading"
      type="submit">
    </app-form-button>
  </div>
</form>
